.card__container{
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     padding:25px;
     width:50%;
     text-align: center;
     margin-left: auto;
     margin-right:auto;
     margin-top: 25%;
}

#input1{
    height:25px;
    border:none;
}

#input2{
    height:25px;
    border:none;
}

#result{
    margin-left:auto;
    text-align:end !important;
    font-size: 25px;
    font-weight: bold;
}